<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Home</title>
</head>
<body>
    <%- include("header.ejs") %>
        <table>
         <tr>
            <th>Titile</th>
            <th>Due Date</th>
            <th>Completed</th>
         </tr>
        <% for(var i=0; i < allTodos.length; i++) {%>
            <tr>
                <td> <%= allTodos[i].title %> </td>
                <td> <%= allTodos[i].dueDate %> </td>
                <td> <%= allTodos[i].completed %> </td>
            </tr>
        <% } %>
    </table>
<footer>
    <%- include("footer.ejs") %>
</footer>
</body>
</html>
