<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <title>Todo-Manager</title>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 space-y-3">
            <header> <%- include("header.ejs") %> </header>
            <form>
                <div class="flex gap-2">
                    <div class="flex-auto">
                        <input type="text" name="task" id="task" placeholder="What's next ?"
                            class="border border-gray-300 text-gray-900 p-2 w-full rounded text-smb leading-4" required>
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="date" id="date"
                            class="border border-gray-300 text-gray-900 p-2 w-full rounded text-sm" required>
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-500 text-white p-2 w-full rounded-lg">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <div class="flex gap-2">
                    <h5>Overdue</h5>
                    <span id="count-overdue" class="px-2 bg-gray-300 rounded ">
                        <%= overdue.length %>
                    </span>
                </div>
                <ul class="list-none">
                   <%- include("todos.ejs", {data: overdue}) %>
                </ul>
            </div>

            <div>
                <div class="flex gap-2">
                    <h5 id="dueToday">Due Today</h5>
                    <span id="count-due-today" class="px-2 bg-gray-300 rounded">
                        <%= dueToday.length %>
                    </span>
                </div>
                <ul class="list-none">
                    <%- include("todos.ejs", {data: dueToday}) %>
                </ul>
            </div>

            <div>
                <div class="flex gap-2">
                    <h5 id="dueLater">Due Later </h5>
                    <span id="count-due-later" class="px-2 bg-gray-300 rounded">
                        <%= dueLater.length %>
                    </span>
                </div>
                <ul class="list-none">
                    <%- include("todos.ejs", {data: dueLater}) %>
                </ul>
            </div>
            
        </div>
    </div>
    </div>
</body>

</html>